body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://i.pinimg.com/736x/87/47/03/87470361014c2189138d25f935c79bf7.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(254, 254, 254, 0.855);
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: #3a2d2d;
    font-size: 25px;
}

label {
    color: #3a2d2d;
    font-weight: bold;
    font-size: 16px;
}

input[type="text"] {
    width: 100%;
    margin: 10px 0;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    font-size: 15px;
}

button {
    background-color: #3d8c3d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0db710;
}

#result {
    color: #3a2d2d;
    margin-top: 20px;
    font-size: 18px;
}

img {
    max-width: 100px;
    height: auto;
    margin-top: 10px;
}